/* .green{background-color: #339059;} 
.deepgreen{background-color: #276F44;} 
.red{background-color: #D41212;}  */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/*****************COMMON******************/
html,body{font-size: 16px; font-family: Karla,Arial,Helvetica,sans-serif;}
.wrapper{width: 1103px; margin: 0 auto; }

.badge-wrap{position: relative;}
.badge {display: flex; align-items: center; justify-content: center;position: absolute; top: -8px; right: -8px;}
.badge.count {width: 16px; height: 16px; background-color: #277045;color: #e8e8e8; border-radius: 50%; font-size: 0.5em; font-weight: 300;}

/*****************.header-wrapper******************/
.header-wrapper { font-family: Karla,sans-serif;}
.top-wrapper{padding: 0.75em; font-size: 0.75em; color: #e8e8e8; background-color: #339059;}
.top-wrapper > .wrapper{display: flex; justify-content: space-between; align-items: center; }
.top-wrapper .link-wrap a{padding: 0.25em 1em; border-right: 1px solid rgba(124,200,120,0.5);}

.title-wrapper { display: flex; justify-content: space-between; align-items: center; padding: 2em 0; }
.title-wrapper .logo-wrap{flex:200px 0 0; }
.title-wrapper .navi-wrap{display: flex;  }
.title-wrapper .navi-wrap .navi{position: relative; padding: 0.5em;}
.title-wrapper .navi-wrap .navi .title{font-size: 0.875em; font-weight: 400; color: #333;  }
.title-wrapper .navi-wrap .navi .title i.fa-angle-down{font-size: 0.75em; color: #aaa;  }
.title-wrapper .navi-wrap .navi .sub-wrap{position: absolute; display: none; }
.title-wrapper .cart-wrap{display: flex; }
.title-wrapper .cart-wrap > i{font-size: 1.125em; color: #333; }
.title-wrapper .cart-wrap > div{margin: 0 1em; }
.title-wrapper .cart-wrap .cart span{font-size: 0.75em; }
.title-wrapper .cart-wrap .cart i{margin-right: 5px;  }
.title-wrapper .cart-wrap .cart span.cart-price{font-weight: 700;}


/*****************COMMON******************/




/*****************COMMON******************/




/*****************COMMON******************/






/*****************COMMON******************/



/*****************COMMON******************/



/*****************RESPONSIVE******************/

@media screen and (max-width: 1199px) {
	.wrapper {width: 895px;}
}
@media screen and (max-width: 991px) {
	.wrapper {width: 671px;}
	.header-wrapper .top-wrapper > .wrapper{justify-content: center;}
	.header-wrapper .top-wrapper .link-wrap{display: none;}
	
}
@media screen and (max-width: 767px) {
	.wrapper {width: 479px;}
	
}
@media screen and (max-width: 575px) {
	.wrapper {width: 98%;}

}