/* 
녹색: #339059
진한녹색: #277045
빨간블릿: #da0f0a
wrapper 1144px

font-family: 'Rubik', sans-serif;
font-family: 'Lora', serif;
*/

/**************** 공통사항 ******************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

html, body {font-size: 16px; height: 6000px; font-family: 'Rubik', sans-serif;}
.wrapper {width: 1100px; margin: 0 auto;}

.badge-wrap {position: relative;}
.badge {display: flex; justify-content: center; align-items: center; position: absolute; top: -8px; right: -8px;}
.badge.count {width: 16px; height: 16px; background-color: #277045; color: #f8f8f8; border-radius: 50%; font-size: 0.5em; font-weight: 300;}

.icon {position: absolute; color: #fff; font-size: 10px; padding: 0 3px;}
.icon .fas {position: absolute; bottom: -7px; left: 6px; font-size: 14px;}
.icon.red {background-color: #d41212; top: -16px; right: 0;}
.icon.red .fas {color: #d41212;}
.icon.green {background-color: #339059; top: -4px; right: -24px;}
.icon.green .fas {color: #339059;}
.icon.yellow {background-color: #f0bd14; top: -4px; right: -24px;}
.icon.yellow .fas {color: #f0bd14;}

.title-bars {text-align: center; font-size: 1rem; margin-top: 5em;}
.title-bars > .title-sm{color: #999; letter-spacing: 0.5em; font-size: 0.75em; font-weight: normal;}
.title-bars > .title{font-size: 1.5em; font-weight: 300;	padding: 0.75em;}
.title-bars > .title-green{width: 40px; border: 1px solid #339059; margin: auto;}

.sub-slide {width: 100%; margin: auto;}
.sub-slide .stage {position: relative; overflow: hidden;}
.sub-slide .wrap {position: relative; display: flex; }
.sub-slide .slide {position: relative; text-align: center; user-select: none;}
.sub-slide .img-wrap {position: relative; overflow: hidden; user-select: none; cursor: pointer;}
.sub-slide .img-case {position: relative; display: none;}
.sub-slide .img-case.active {display: block;}
.sub-slide .img-case img:nth-child(2) {position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 0.5s;}
.sub-slide .slide:hover img:nth-child(2) {opacity: 1;}

.sub-slide .bt {position: absolute; z-index:99; transition: all 0.5s;}

.sub-slide .bt-quick {background-color: #111; color: #f8f8f8;
	font-size: 0.875em; padding: 0.75em;  bottom: 0; width: 100%; transform: translateY(50px);}
.sub-slide .bt-quick:hover {background-color: #555;}
.sub-slide .slide:hover .bt-quick {transform: translateY(0);}

.sub-slide .bt-icon {height: 32px; display: flex; align-items: center; font-size: 1.25em; color: #666; opacity: 0;}
.sub-slide .slide:hover .bt-icon {opacity: 1;}
.sub-slide .bt-icon:hover > .popper {transform: translateX(0); opacity: 1; padding: 0.5em 0 0.5em 0.75em; width: auto; overflow: visible;}
.sub-slide .bt-heart {right: 8px; top: 8px;}
.sub-slide .bt-sync {right: 8px; top: 48px;}
.sub-slide .bt-search {right: 8px; top: 88px;}
.sub-slide .bt > .popper {background-color: #111; color: #f8f8f8; margin-right: 1em; font-size: 0.625em; transform: translateX(-20px); opacity: 0; transition: transform 0.5s, opacity 0.5s; overflow: hidden; width: 0; padding: 0;}
.sub-slide .bt > .popper > i {color: #111; transform: translateX(6px); font-size: 1.5em;}
.sub-slide .color{margin: 1em 0;}
.sub-slide .color span {cursor: pointer; font-size: 1em; line-height: 1em; display: inline-block;}
.sub-slide .color span.blue {color: #3ab6f0;}
.sub-slide .color span.red {color: #dd3333;}
.sub-slide .color span.black {color: #111;}
.sub-slide .color span.yellow {color: #f1f12c;}
.sub-slide .color span.active {border-bottom: 3px solid #111;}

.sub-slide .slide > .title {color: #777; user-select: none;}
.sub-slide .slide > .brand {color: #777; user-select: none;}
.sub-slide .slide > .price {color: #222; user-select: none;}
.sub-slide .slide > .price > .price-def {color: #999; text-decoration: line-through;}
.sub-slide .slide > .price > .price-sale {color: #189954;}
.sub-slide .slide > .title:hover {color: #333;}
.sub-slide .slide > .brand:hover {color: #333; text-decoration: underline;}

.sub-slide .bt-pager {color: #777; font-size: 2.5em; position: absolute; top: calc(50% - 1.25em); z-index: 99; user-select: none; cursor: pointer; transition: all 0.5s;}
.sub-slide .bt-pager:hover {color: #222;}
.sub-slide .bt-prev {left: 0;}
.sub-slide .bt-next {right: 0;}
.sub-slide.type2 .wrapper .wrap {width: calc(100% - 40px); left:20px; }
.sub-slide.type2 .slide {text-align-last: left; padding: 0 10px;}
.type2 .title, .type2 .price-wrap, .type2 .brand {cursor: pointer;}
.sub-slide.type2 .price-wrap {margin-top: 6px; height: 30px; line-height: 30px; overflow: hidden;}
.sub-slide.type2 .price-wrap .price {color: #999;}
.sub-slide.type2 .price-wrap > div{height: 100%; transition: all 0.3s; }
.sub-slide.type2 .slide:hover .price-wrap > div {transform:translateY(-100%);}


/**************** .header-wrapper ******************/
.header-wrapper {font-family: 'Rubik', sans-serif; position: relative; width: 100%; transition:top 0.3s;  z-index: 9999; background-color: #fff;}
.top-wrapper {background-color: #339059; color: #f8f8f8; font-size: 0.75em; padding: 1em;}
.top-wrapper > .wrapper {display:flex; justify-content: space-between; align-items: center;}
.top-wrapper .link-wrap a {padding: 0.25em 1em; border-right: 1px solid rgba(255, 255, 255, 0.3);}
.top-wrapper .link-wrap a:last-child {border-right: none;}

.title-wrapper {display: flex; justify-content: space-between; align-items: center;}
.title-wrapper > .navi-mob-wrap{display: none; padding-left: 5px;}
.title-wrapper > .logo-wrap > img{max-width: 200px;}
.title-wrapper > .navi-wrap {display: flex; user-select: none;}
.title-wrapper > .cart-wrap {flex: 200px 0 0; display: flex;}
.title-wrapper .cart .badge{display: none;}

.title-wrapper > .navi-wrap > .navi {position: relative; padding: 2rem 0.75em; z-index: 100;}
.title-wrapper > .navi-wrap > .navi > .sub-wrap {position: absolute; top: 80px; left: 0; background-color: #fff; padding-bottom: 1em; box-shadow: 0 4px 4px rgba(0,0,0,0.2); display: none;}

.title-wrapper > .navi-wrap > .navi > .title {font-size: 0.875em; font-weight: 400; color: #333; position: relative;}
.title-wrapper > .navi-wrap .fa-angle-down {font-size: 0.75em; color: #aaa;}

.title-wrapper .IMAGE .sub-wrap {display: flex; flex-wrap: wrap; width: 800px;}
.title-wrapper .IMAGE .sub {flex: 18% 0 0; margin: 1%;}
.title-wrapper .IMAGE .sub .title {text-align: center; font-weight: bold; color: #666;}
.title-wrapper .IMAGE .sub .title > span {color: #339059;}

.title-wrapper .navi.WIDE{position: static !important;} 
.title-wrapper .navi-wrap .navi.WIDE .sub-wrap {width: 100%; top: 122px;}
.title-wrapper .WIDE .sub-wrap > .wrapper {display: flex; padding: 2em 0;}
.title-wrapper .WIDE .lt {flex: 75% 0 0; border-right: 1px solid #ccc;}

.title-wrapper .WIDE .infos {display: flex; margin: 1em 0;}
.title-wrapper .WIDE .info {flex: 22% 0 0; margin-right: 3%;}
.title-wrapper .WIDE .info:not(:last-child) {border-right: 1px solid #ccc;}
.title-wrapper .WIDE .info i {margin-right: 4px;}
.title-wrapper .WIDE .info > .content {color: #aaa; font-size: 0.875em;}

.title-wrapper .WIDE .rt {flex: 25% 0 0; padding-left: 2%;}

/***  COL TYPE  ***/

.title-wrapper .COL .subs {display: flex; padding: 8px 0 8px 16px;}
.title-wrapper .COL .sub { margin: 0 2% 0 1%; min-width: 180px; display: flex; flex-direction: column; align-items: flex-start;}
.title-wrapper .COL .sub > .title {font-weight: bold; color: #666; padding-bottom: 1em; transition: all 0.5s; cursor: pointer;}
.title-wrapper .COL .sub > .title:hover {color: #339059;}
.title-wrapper .COL .sub > .name {color: #aaa; font-size: 0.875em; padding: 0.375em 0; transition: all 0.5s; cursor: pointer;}
.title-wrapper .COL .sub > .name:hover {transform: translateX(8px); color: #339059;}
.title-wrapper .COL1 .subs{min-width: 200px;}
.title-wrapper .COL2 .subs{min-width: 400px;}
.title-wrapper .COL3 .subs{min-width: 600px;}
.title-wrapper .COL4 .subs{min-width: 800px;}
.title-wrapper .COL1 .sub {flex:98% 0 0;}
.title-wrapper .COL2 .sub {flex:46% 0 0;}
.title-wrapper .COL3 .sub {flex:31.3333% 0 0;}
.title-wrapper .COL3.BG .sub {flex:23% 0 0;}
.title-wrapper .COL3.BG .sub-wrap {padding-right: 200px; background: #fff url("../img/menu-baner-1.jpg") no-repeat right bottom; background-size: auto 100%; }
.title-wrapper .COL4 .sub {flex:23% 0 0;}


.title-wrapper > .cart-wrap i {font-size: 1.125em; color: #333;}
.title-wrapper > .cart-wrap > div {margin: 0 1em;}
.title-wrapper > .cart-wrap > .cart > i {margin-right: 5px;}
.title-wrapper > .cart-wrap > .cart > span {font-size: 0.75em;}
.title-wrapper > .cart-wrap > .cart > span.cart-price {font-weight: 500;}

/**************** search-wrapper ******************/
.search-wrapper { display: flex; align-items: center;}
.search-wrapper > .browse-wrap {flex:30% 0 0; background-color: #277045; color: #f8f8f8; padding: 1.25em; display: flex; justify-content: space-between; align-items: center;	}
.search-wrapper > .browse-wrap .fa {transition:transform 0.5s; transform:rotate(0);}
.search-wrapper > .browse-wrap:hover .fa{transform:rotate(-180deg);}
.search-wrapper > .search-wrap {flex:68% 0 0; margin-left: 2%; position: relative;}
.search-wrapper > .search-wrap > .input-search {width: 100%; padding: 0.75em; border: 1px solid #bbb; border-radius: 0;  }
.search-wrapper > .search-wrap > .input-search:focus{outline: none;}
.search-wrapper > .search-wrap > .fa-search {font-size: 1.25em; color: #666; cursor: pointer; position: absolute; right: 0.5em; bottom: 0.75em}

/**************** banner wrapper ******************/
.banner-wrapper {background-color: #eee; height: 516px; position: relative;}
.banner-wrapper > .wrapper {position: relative;}
.banner-wrapper > .wrapper > .ctgr-wrap {width:30%; height: 100%; height: 516px; position: absolute; display: flex; flex-direction: column; justify-content: space-between;z-index: 11;}
.banner-wrapper > .wrapper > .ctgr-wrap > .ctgr {flex-grow: 1; display: flex; align-items: center; justify-content: space-between; padding: 0 1.75em; font-size: 0.75em; font-weight: 500; cursor: pointer; background-color: #339059; color: #f4f4f4;}
.banner-wrapper > .wrapper > .ctgr-wrap > .ctgr:hover {background-color: #fbbc34;}

.banner-wrapper .bt {position: absolute; top: 50%; transform: translateY(-50%); color: #777; font-size: 3em; transition: all 0.5s; opacity: 0; cursor: pointer; } 
.banner-wrapper .slide-stage:hover .bt{opacity: 1;}
.banner-wrapper .slide-stage .bt:hover{color: #222;}
.banner-wrapper .bt-next {right: 12px;}
.banner-wrapper .bt-prev {left: 12px;}

.banner-wrapper .slide-stage {position: relative; height: 100%; overflow: hidden; z-index: 10;}
.banner-wrapper .slide-wrap {width: 300%; height: 100%; display: flex; position: relative;}
.banner-wrapper .slide {flex:33.3333% 0 0; height: 100%; background-position: center top; background-size: cover; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center; flex-direction: column; cursor: grab;}
.banner-wrapper .slide .desc {font-family: 'Lora', serif; font-size: 1.5em; font-style: italic; color: #339059;}
.banner-wrapper .slide .title {font-size: 3em; color: #333; padding: 0.5em;}
.banner-wrapper .slide .price {font-size: 8em; color: #ddd; padding: 0.125em;}
.banner-wrapper .slide .bt-banner {border: 1px solid #222; padding: 0.75em 1.5em; font-size: 0.875em; color: #444; transition:all 0.5s; background-color: #f4f4f4; outline:none;}
.banner-wrapper .slide .bt-banner:hover {background-color: #222; color: #f4f4f4;}
.banner-wrapper .slide.active {width: 100%; position: absolute; top: 0; left: 0; opacity: 0; transition:none !important; transform:none !important;}

/**************** middle wrapper ******************/
.middle-wrapper {display: flex; margin: 3em auto; justify-content: space-between;}
.middle-wrapper .middle{flex:23% 0 0; overflow: hidden; cursor: pointer; position: relative;}
.middle-wrapper .middle:nth-child(2){flex:48.2% 0 0;}
.middle-wrapper .middle img{transition: all 0.5s; }
.middle-wrapper .middle:hover img{transform:scale(1.1); }
.middle-wrapper .middle .title-wrap{position: absolute; bottom: 1em; left: 1em; background-color: rgba(0,0,0,0.6); color:#f8f8f8; padding: 1em 2em;}
.middle-wrapper .middle .title-wrap .title{font-family: 'Lora', serif; font-style: italic; font-size: 1.75em; border-bottom: 1px solid #f8f8f8; line-height: 1.5; white-space: nowrap;}
.middle-wrapper .middle .desc{font-size: 0.75em; font-weight: 300; text-align: center; margin: 0.75em 0;}
.middle-wrapper .middle:first-child .title-wrap {left: 50%; transform:translateX(-50%); }
.middle-wrapper .middle:last-child .title-wrap{width: 100%; height: 100%; left: 0; bottom: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: rgba(0,0,0,0.3); transition: all 0.5s; }
.middle-wrapper .middle:last-child:hover .title-wrap {background-color: rgba(0,0,0,0.6);}
.middle-wrapper .middle:last-child .title-wrap .title{font-family: 'sans-serif'; font-weight: 700; font-style: normal; border-bottom: none; }
.middle-wrapper .middle:last-child .title-wrap .title-badge{background-color: #118844; font-size: 0.75em; padding: 0.25em 0.5em; }
.middle-wrapper .middle:last-child .title-wrap .desc {font-size: 0.75em; border-bottom: 1px solid #aaa;}
.middle-wrapper .middle:last-child .title-wrap:hover .desc {border-bottom: 1px solid #ccc; transition:all 0.75s;}


/**************** gift wrapper ******************/
.gift-wrapper {background: #339059 url(../img/gift-newslater.png) top left no-repeat; color: #f8f8f8; display: flex; justify-content: space-between; align-items: center; padding: 36px; font-size: 1.25em; margin: 2em auto;}
.gift-wrapper .sns-wrap{display: flex; }
.gift-wrapper .sns-wrap li{padding: 0 12px; cursor: pointer;}

/**************** ctgr wrapper ******************/
.ctgr-wrapper .navi-wrap {display: flex; align-items: center; justify-content: center;}
.ctgr-wrapper .navi {padding: 1em 2em; position: relative; user-select: none; cursor: pointer;}
.ctgr-wrapper .navi.active { color: #277045; cursor: auto; }
.ctgr-wrapper .navi:not(:last-child)::after {display: block; content:"/"; color: #999; position: absolute; right: 0; top: 1em;}


.ctgr-wrapper .navi > div{ line-height: 1; }
.ctgr-wrapper .navi > div::after{transform: scaleX(0); transform-origin: right; transition: transform 0.5s;}
.ctgr-wrapper .navi.active > div::after{ border-color: #277045 ; transform: scaleX(1);}
.ctgr-wrapper .navi:not(.active):hover > div::after{ transform: scaleX(1); transform-origin: left;}



/**************** mob wrapper ******************/
.mob-wrapper {background-color: rgba(0,0,0,0); width: 100%; height: 100vh; position: fixed; z-index: 1000; top: 0; left: 0; transition:background-color 0.5s; display: none; }
.mob-wrapper .mob-wrap {height: 100%; width: 270px; background-color: #0c0c0c; transition:left 0.5s; left: -270px; position: absolute; color: #f8f8f8; overflow-y: auto;}
.mob-search-wrap {position: relative; padding: 0.625em; border-bottom: 2px solid #555;}
.mob-search-wrap .input-search {width: 100%; padding: 0.5em 1.5em; border: 1px solid #444; background-color: #252525; color: inherit;}
.mob-search-wrap .input-search::placeholder{color:inherit;}
.mob-search-wrap .input-search:focus{outline:none;}
.mob-search-wrap .fa {position: absolute; right: 18px; top: 50%; transform:translateY(-50%); color:inherit;}

.mob-navi-wrap .mob-navi{ position: relative; box-sizing: border-box; border-bottom: 1px solid #222; box-sizing: border-box; }
.mob-navi-wrap .mob-navi > .title {padding: 1em; }
.mob-navi-wrap .mob-navi > .mob-sub {position: relative; display: none; }
.mob-navi-wrap .mob-navi > .mob-sub .fa{position: absolute; color: #171717; left: 20px; top: -15px; font-size: 1.5em;}
.mob-navi-wrap .mob-navi > .mob-sub li{background-color: #171717;  border-top: 1px solid #222;  box-sizing: border-box; font-size: 0.875em; color: #ccc; transition:all 0.3s; cursor: pointer;}
.mob-navi-wrap .mob-navi > .mob-sub li:hover {color:#f8f8f8;}
.mob-navi-wrap .mob-navi .bt-down {width: 56px; height: 56px; border-right: 1px solid #222; position: absolute; top: 0; right: 0; display: flex; justify-content: center; align-items: center; cursor: pointer; }
.mob-navi-wrap .mob-navi .bt-down.active {background-color: #339059;}
.mob-navi-wrap .mob-navi .slash {width: 12px; border-bottom: 2px solid #f8f8f8; transition:transform 0.3s;}
.mob-navi-wrap .mob-navi .slash-lt {transform:rotate(45deg) translateX(3px);}
.mob-navi-wrap .mob-navi .slash-rt {transform:rotate(-45deg) translateX(-3px);}
.mob-navi-wrap .mob-navi .bt-down.active .slash{width: 20px; transition:transform 0.3s; }
.mob-navi-wrap .mob-navi .bt-down.active .slash-lt { transform:translateX(10px) rotate(45deg);}
.mob-navi-wrap .mob-navi .bt-down.active .slash-rt {transform:translateX(-10px) rotate(-45deg);}

.mob-navi-wrap .mob-sub-navi { border-bottom: 1px solid #222; position: relative;}
.mob-navi-wrap .mob-sub-navi > .title {padding: 1em;}
.mob-navi-wrap .mob-sub-navi .mob-sub-sub {display: none;}
.mob-navi-wrap .mob-sub-navi .mob-sub-sub li{background-color: #171717;  border-top: 1px solid #222;  box-sizing: border-box; color: #ccc; transition:all 0.3s; cursor: pointer; padding: 17px;}
.mob-navi-wrap .mob-sub-navi .mob-sub-sub li:hover{color: #f8f8f8;}

/**************** 반응형 ******************/
@media screen and (max-width: 1199px) {
	.wrapper {width: 900px;}
}
@media screen and (max-width: 991px) {
	.wrapper {width: 92%;}
	.top-wrapper > .wrapper {justify-content: center;}
	.top-wrapper .link-wrap {display: none;}
	.title-wrapper{padding: 0.5em 0; align-items: flex-end;}
	.title-wrapper > .navi-mob-wrap{display: block; flex:25% 0 0;}
	.title-wrapper > .navi-wrap {display: none;}
	.title-wrapper > .logo-wrap {flex:50% 0 0; text-align: center;} 
	.title-wrapper > .cart-wrap {flex:25% 0 0; justify-content: end; }
	.title-wrapper > .cart-wrap .cart .cart-cnt{display: none;}
	.title-wrapper > .cart-wrap .cart .badge{display: block;}
	.title-wrapper > .cart-wrap span{display: none;}
	.search-wrapper {display: none !important;}
	.banner-wrapper > .wrapper {display: none;}
	.middle-wrapper {flex-wrap:wrap;}
	.middle-wrapper .middle{flex:100% 0 0; margin: 1em 0;}
	.middle-wrapper .middle:nth-child(2){flex:100% 0 0;}
}
@media screen and (max-width: 767px) {
	.gift-wrapper {flex-direction: column; align-items: stretch;}
	.gift-wrapper .sns-wrap {justify-content: flex-end; padding: 1em 0;}
}
@media screen and (max-width: 575px) {
	.wrapper {width: 98%;}
	.title-wrapper{padding: 0.5em 0;}
	.title-wrapper > .navi-mob-wrap{ flex:35% 0 0;}
	.title-wrapper > .logo-wrap {flex:30% 0 0; } 
	.title-wrapper > .cart-wrap {flex:35% 0 0; }
}
